*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* utility */

header{
background-color: #3161e0;
padding: 1%;

}
.bg-white{
    background-color: white;

}


.bg-pink{
    background-color: hotpink;
}

.bg-blue{
    background-color: blue;
}
.bg-green {
    background-color: green;
}
.bg-lightblue {
    background-color: lightblue;
}
.bg-lightpink{
    background-color: lightpink;

}
.bg-coral{
    background-color: coral;
}
.bg-verdeacqua{
    background-color: lightseagreen;
}
.bg-footer{
    background-color: mediumspringgreen;
}

.bg-gold{

    background-color: gold;
}
.bg-darkgrey{
    background-color: darkgrey;
}



/* CLASSI DI LAYOUT */

.container{max-width: 1200px;
margin: 30px auto;
}

.container-sm {

max-width: 990px;
margin:0px auto;

}
.container-full{

    max-width: 100%;
   
}
.row{
    display: flex;
    flex-wrap:wrap ;
    
}
.col-25{
    
    width: 25%;
    height:40px;
}
.pd-20{
    padding: 20px;
}
.col-50{
    width: 50%;
}

.col-80{
    width: 800px;
    height: 400px;
}
.borderdash{
    border: 1px dashed black;
}
.textright{
    text-align: right;
}
.textcenter{
    text-align: center;
}
.pdleft{
    padding-left: 10px;
}
.pdright{
    padding-right: 10px;
}
.jcenter{
    justify-content: center;
}
.pdbottom{
    padding-bottom: 30px;
}
.pdtop{padding-top: 30px;}

.pd-button{
    padding: 10px;
}
.col-60{
    width: 60%;
    height:400px

}
.col-40{
    width: 40%;
    height:400px

}
.col-100{
    width: 100%;
    height: 800px;
}
.col-15{
    width: 15%;
    height: 400px;
}
.pdtop10{
    padding-top: 10px;
}
.gp-header{
    gap: 70px;
}
.bg-none{
    background: none;
}
.sp-evenly{
    justify-content: space-evenly;
}
.brd-header{
    border: none;
}
.clr-white{
    color: white;
}
.align-cntr{
    align-items: center;
}
.gap{
    gap: 50px;
}
.spc-between{
    justify-content: space-between;
}

.pls-white{
    color: #23272a;
    background-color: #fff;
    border-radius: 40px;
    padding: 7px 16px;
    font-size: 14px;
    font-weight: 700;
    font-family: "Inconsolata";
}
.bg-img-2{
    background-image:url(../img/jumbo.png) ;
    background-size: cover;
  


}
.font-p{
    font-family: "Inconsolata";
}
.titolone{
    font-size: 40px;
    padding-top: 50px;
    
}
.titolone2{
    font-size: 40px;
    padding-top: 40px;
    line-height: 60px;
    
}
.container-sm2{
    max-width: 700px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.lheight20{
    line-height: 30px;
}
.sottotitolo{
    font-size: 14px;

    
}
.whitebuttn{
    background-color: white;
    border-radius: 40px;
    padding: 20px 50px;

}
.blckbuttn{
    background-color: black;
    border-radius: 40px;
    padding: 20px 50px;

}
.pd-40{
    padding: 40px;
}
.containerpiccolo{
    max-width: 400px;
    padding-left: 100px;
}
.margin3{
    margin-top: 200px;
}
.vertical-align{
    vertical-align: middle;
}

.bg-3{
    background-color: lightgrey;
  
}
.pd-100top{
    padding-top: 100px;
}
.plsblu{
    background-color: rgba(105, 117, 185, 0.966);
    border-radius: 40px;
    padding: 20px 50px;
    width: 20px;

}